<div style="display:flex; justify-content: center; align-items: center; height: 100vh; width:100%">
  <form #form="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
      [(ngModel)]="newUser.email"
      #email="ngModel"
      required minlength="6"
      name="email"
      >
    </div>

    <div *ngIf="email.errors && email.dirty">Muy mal! Necesitamos minimo {{ email.errors.minlength.requiredLength }} y tienes {{ email.errors.minlength.actualLength }} </div>

    <button (click)="onClickAddNewUser()"  type="submit" [disabled]="!form.valid" class="btn btn-primary">Submit</button>
  </form>
  <div>
  </div>
</div>

